@use "./assets/styles/global";

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 36px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-5) 49.88%, rgba(0, 0, 0, 0.5) 100%), url("./assets/img/background-pattern.png");
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  font-family: "Exo 2", sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 43px;
  font-style: normal;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 1fr) minmax(280px, 320px)) minmax(40px, 1fr);
  width: 100%;
  margin-bottom: 25px;

  &__item {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  &__item:nth-child(1) {
    grid-column: 2/3;
  }

  &__item:nth-child(2) {
    grid-column: 4/5;
  }

  &__item:nth-child(3) {
    grid-column: 6/7;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(30px, 1fr) minmax(280px, 320px)) minmax(30px, 1fr);
    grid-template-rows: 1fr 1fr;

    &__item:nth-child(3) {
      grid-row: 2/3;
      grid-column: 2/5;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    & &__item {
      grid-column: 1 / 2;
    }

    &__item:nth-child(2) {
      grid-row: 2 /3;
    }

    &__item:nth-child(3) {
      grid-row: 3 /4;
    }
  }
}

.footer {
  width: 100%;
  flex: 0 0 36px;
}
