@use "./assets/styles/global";

body {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./assets/img/background-pattern.png");
}

.wrapper {
  margin: 36px auto;
}

.title {
  font-family: "Exo 2", sans-serif;
  font-size: 36px;
  font-weight: 100;
  font-style: normal;
  line-height: 43px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
}
